<ion-view view-title="Kronos iKonnect">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                Welcome to our pilot study.
            </div>
        </div>
        <div class="list list-inset">
            <span>Kronos Email</span>
            <label class="item item-input">
                <input type="email" placeholder="Email" ng-model="vm.user.email">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-assertive" ng-click="vm.signin()">
                Start Study
            </button>
        </div>
    </ion-content>
</ion-view>